<dl>
	<dt>결제 후 1시간 이내 취소</dt>
	<dd class="text-point">수수료 없음</dd>

	<dt>픽업시간 24시간 이전 취소</dt>
	<dd class="text-point">수수료 없음</dd>

	<dt>24시간전 부터 픽업시간까지</dt>
	<dd>
		단기대여(1개월미만) - <span class="text-point">결제금액의 10%</span><br />
		장기대여(1개월이상) - <span class="text-point">1개월 금액의 5%</span>
	</dd>

	<dt>픽업시간 이후 취소</dt>
	<dd>
		단기대여(1개월미만) - <span class="text-point">결제금액의 20%</span><br />
		장기대여(1개월이상) - <span class="text-point">1개월 금액의 10%</span>
	</dd>

	<dt>차량 배달 시작 후 취소</dt>
	<dd class="text-point">조기반납 시 취소 수수료 및 환불처리는 대여지점의 내규에 따릅니다.</dd>

	<dt>조기반납</dt>
	<dd class="text-point">조기반납 시 취소 수수료 및 환불처리는 대여지점의 내규에 따릅니다.</dd>
</dl>
