
.uiChangeCar {
	.searchCar {display:none;position:relative;
		input {display:block;width:100%;}
		.autocomplete {position:absolute;background:#fff;border:solid 1px #eee;border-top:none;width:100%;
			a {display:block;cursor:pointer;}
		}
	}
}