//결제 내용
.payment-description {width:300px;
	li {line-height:20px;
		&.total {border-top:solid 1px $table-line-color;padding-top:6px;margin-top:6px;}
		.price {float:right;}
	}
}

//자주묻는질문
.faqSch{
	.searchBox{width:100%;height:52px;border:solid 1px $line-color;background:$table-header-bg;text-align:center;padding-top:10px;margin-bottom:20px;
		.input-wrap {width:390px;display:inline-block;position:relative;
			input{display:block;width:361px;position:relative;
				&:focus {z-index:100;}
			}
			.btn-search {height:30px;width:30px;display:block;position:absolute;right:0;top:0;border:solid 1px $line-color;text-indent:-1000px;color:transparent;background:#fff;@include transition(border-color $transitionDuration);outline:none;
				&:hover, &:focus {border-color:$primary-color;}
				&:after {content:'';display:block;@include sprite($ico-search);position:absolute;top:8px;right:7px;}
			}
		}
	}
	.schFaqs {
		* {font-family: "NanumGothic","arial","times new roman",sans-serif !important;}
		#list {border-top:solid 1px $line-color;
			div * {font-size:12px !important;}
			.question {display:block;border-bottom:solid 1px $line-color;line-height:20px;padding:10px 10px 10px 30px;position:relative;cursor:pointer;
				&:after {content:'';display:block;position:absolute;top:10px;left:0;@include sprite($ico-faq-q);}
				&:before {content:'';display:block;position:absolute;top:14px;right:0;@include sprite($arrow-bottom);}
				&.active:before {@include sprite($arrow-top);}
			}
			.answer {border-bottom:solid 1px $line-color;padding:10px 10px 30px 30px;position:relative;
				&:after {content:'';display:block;position:absolute;top:10px;left:0;@include sprite($ico-faq-a);}
			}
		}
	}
}

//로그인
.loginform {width:474px;height:200px;margin:56px auto 0;position:relative;
	input.email, input.password {position:absolute;left:0;top:0;width:350px;height:44px;font-size:16px;}
	input.password {top:48px;}
	button[type=submit] {position:absolute;right:0;top:0;width:120px;height:92px;font-size:18px;}

	.save-id {position:absolute;left:0;top:102px;}

	.util {position:absolute;right:0;top:102px;text-align:right;
		li {display:inline-block;padding:0 10px;border-right:solid 1px $default-color;height:14px;
			a {display:block;width:100%;height:100%;line-height:14px;}
			&:last-child {padding-right:0;border-right:none;}
		}
	}

	.social {position:absolute;left:0;bottom:0;
		li {width:45px;height:45px;display:block;float:left;margin-right:4px;
			a {display:block;width:100%;height:100%;overflow:hidden;text-indent:-1000px;color:transparent;
				&.facebook {@include sprite($social-facebook);
					&:hover, &:focus, &:active {@include sprite($social-facebook-on)}
				}
				&.naver {@include sprite($social-naver);
					&:hover, &:focus, &:active {@include sprite($social-naver-on)}
				}
				&.kakao {@include sprite($social-kakao);
					&:hover, &:focus, &:active {@include sprite($social-kakao-on)}
				}
			}
		}
	}
}

//쿠폰북
.couponCon {margin-top:20px;
	ul{overflow: hidden;
		li{float: left; margin-bottom: 10px;width:50%;padding-right:5px;
			img {width:100%;height:115px;}
			&:nth-child(2n) {padding-left:5px;padding-right:0;}
		}
	}
}

//서비스 안내
.guide-service-concept {height:146px;margin-bottom:33px;
	ul {
		li {height:100%;width:25%;float:left;text-align:center;letter-spacing:-1px;padding-top:66px;
			.title {font-size:16px;font-weight:600;}
			.description {font-size:14px;}

			&.service1 {background:url(../../../imgs/rentking.w/about/ico_service1.gif) no-repeat center 11px;}
			&.service2 {background:url(../../../imgs/rentking.w/about/ico_service2.gif) no-repeat center 11px;}
			&.service3 {background:url(../../../imgs/rentking.w/about/ico_service3.gif) no-repeat center 11px;}
			&.service4 {background:url(../../../imgs/rentking.w/about/ico_service4.gif) no-repeat center 11px;}
		}
		&:after {content:'';display:block;float:none;clear:both;}
	}
}

//개인정보취급방침
.personal{font-size: 14px; margin: 30px 0 0 0; padding: 0; line-height:2;}
.personal strong{margin-left: 10px;}
.personal p{margin-left: 20px;}
.personal img{max-width: 710px;}