// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$arrow-bottom-name: 'arrow_bottom';
$arrow-bottom-x: 410px;
$arrow-bottom-y: 596px;
$arrow-bottom-offset-x: -410px;
$arrow-bottom-offset-y: -596px;
$arrow-bottom-width: 12px;
$arrow-bottom-height: 9px;
$arrow-bottom-total-width: 1071px;
$arrow-bottom-total-height: 1013px;
$arrow-bottom-image: '../imgs/sprite.png?20170929035949';
$arrow-bottom: (410px, 596px, -410px, -596px, 12px, 9px, 1071px, 1013px, '../imgs/sprite.png?20170929035949', 'arrow_bottom', );
$arrow-bottom-on-name: 'arrow_bottom_on';
$arrow-bottom-on-x: 314px;
$arrow-bottom-on-y: 596px;
$arrow-bottom-on-offset-x: -314px;
$arrow-bottom-on-offset-y: -596px;
$arrow-bottom-on-width: 12px;
$arrow-bottom-on-height: 9px;
$arrow-bottom-on-total-width: 1071px;
$arrow-bottom-on-total-height: 1013px;
$arrow-bottom-on-image: '../imgs/sprite.png?20170929035949';
$arrow-bottom-on: (314px, 596px, -314px, -596px, 12px, 9px, 1071px, 1013px, '../imgs/sprite.png?20170929035949', 'arrow_bottom_on', );
$arrow-bottom-rentshop-info-name: 'arrow_bottom_rentshop-info';
$arrow-bottom-rentshop-info-x: 250px;
$arrow-bottom-rentshop-info-y: 596px;
$arrow-bottom-rentshop-info-offset-x: -250px;
$arrow-bottom-rentshop-info-offset-y: -596px;
$arrow-bottom-rentshop-info-width: 12px;
$arrow-bottom-rentshop-info-height: 10px;
$arrow-bottom-rentshop-info-total-width: 1071px;
$arrow-bottom-rentshop-info-total-height: 1013px;
$arrow-bottom-rentshop-info-image: '../imgs/sprite.png?20170929035949';
$arrow-bottom-rentshop-info: (250px, 596px, -250px, -596px, 12px, 10px, 1071px, 1013px, '../imgs/sprite.png?20170929035949', 'arrow_bottom_rentshop-info', );
$arrow-bottom-w-name: 'arrow_bottom_w';
$arrow-bottom-w-x: 282px;
$arrow-bottom-w-y: 596px;
$arrow-bottom-w-offset-x: -282px;
$arrow-bottom-w-offset-y: -596px;
$arrow-bottom-w-width: 12px;
$arrow-bottom-w-height: 9px;
$arrow-bottom-w-total-width: 1071px;
$arrow-bottom-w-total-height: 1013px;
$arrow-bottom-w-image: '../imgs/sprite.png?20170929035949';
$arrow-bottom-w: (282px, 596px, -282px, -596px, 12px, 9px, 1071px, 1013px, '../imgs/sprite.png?20170929035949', 'arrow_bottom_w', );
$arrow-bottom-w-big-name: 'arrow_bottom_w_big';
$arrow-bottom-w-big-x: 478px;
$arrow-bottom-w-big-y: 840px;
$arrow-bottom-w-big-offset-x: -478px;
$arrow-bottom-w-big-offset-y: -840px;
$arrow-bottom-w-big-width: 30px;
$arrow-bottom-w-big-height: 17px;
$arrow-bottom-w-big-total-width: 1071px;
$arrow-bottom-w-big-total-height: 1013px;
$arrow-bottom-w-big-image: '../imgs/sprite.png?20170929035949';
$arrow-bottom-w-big: (478px, 840px, -478px, -840px, 30px, 17px, 1071px, 1013px, '../imgs/sprite.png?20170929035949', 'arrow_bottom_w_big', );
$arrow-left-name: 'arrow_left';
$arrow-left-x: 731px;
$arrow-left-y: 840px;
$arrow-left-offset-x: -731px;
$arrow-left-offset-y: -840px;
$arrow-left-width: 9px;
$arrow-left-height: 12px;
$arrow-left-total-width: 1071px;
$arrow-left-total-height: 1013px;
$arrow-left-image: '../imgs/sprite.png?20170929035949';
$arrow-left: (731px, 840px, -731px, -840px, 9px, 12px, 1071px, 1013px, '../imgs/sprite.png?20170929035949', 'arrow_left', );
$arrow-left-on-name: 'arrow_left_on';
$arrow-left-on-x: 557px;
$arrow-left-on-y: 840px;
$arrow-left-on-offset-x: -557px;
$arrow-left-on-offset-y: -840px;
$arrow-left-on-width: 9px;
$arrow-left-on-height: 12px;
$arrow-left-on-total-width: 1071px;
$arrow-left-on-total-height: 1013px;
$arrow-left-on-image: '../imgs/sprite.png?20170929035949';
$arrow-left-on: (557px, 840px, -557px, -840px, 9px, 12px, 1071px, 1013px, '../imgs/sprite.png?20170929035949', 'arrow_left_on', );
$arrow-left-paging-name: 'arrow_left_paging';
$arrow-left-paging-x: 702px;
$arrow-left-paging-y: 840px;
$arrow-left-paging-offset-x: -702px;
$arrow-left-paging-offset-y: -840px;
$arrow-left-paging-width: 9px;
$arrow-left-paging-height: 12px;
$arrow-left-paging-total-width: 1071px;
$arrow-left-paging-total-height: 1013px;
$arrow-left-paging-image: '../imgs/sprite.png?20170929035949';
$arrow-left-paging: (702px, 840px, -702px, -840px, 9px, 12px, 1071px, 1013px, '../imgs/sprite.png?20170929035949', 'arrow_left_paging', );
$arrow-left-paging-on-name: 'arrow_left_paging_on';
$arrow-left-paging-on-x: 673px;
$arrow-left-paging-on-y: 840px;
$arrow-left-paging-on-offset-x: -673px;
$arrow-left-paging-on-offset-y: -840px;
$arrow-left-paging-on-width: 9px;
$arrow-left-paging-on-height: 12px;
$arrow-left-paging-on-total-width: 1071px;
$arrow-left-paging-on-total-height: 1013px;
$arrow-left-paging-on-image: '../imgs/sprite.png?20170929035949';
$arrow-left-paging-on: (673px, 840px, -673px, -840px, 9px, 12px, 1071px, 1013px, '../imgs/sprite.png?20170929035949', 'arrow_left_paging_on', );
$arrow-right-name: 'arrow_right';
$arrow-right-x: 644px;
$arrow-right-y: 840px;
$arrow-right-offset-x: -644px;
$arrow-right-offset-y: -840px;
$arrow-right-width: 9px;
$arrow-right-height: 12px;
$arrow-right-total-width: 1071px;
$arrow-right-total-height: 1013px;
$arrow-right-image: '../imgs/sprite.png?20170929035949';
$arrow-right: (644px, 840px, -644px, -840px, 9px, 12px, 1071px, 1013px, '../imgs/sprite.png?20170929035949', 'arrow_right', );
$arrow-right-on-name: 'arrow_right_on';
$arrow-right-on-x: 615px;
$arrow-right-on-y: 840px;
$arrow-right-on-offset-x: -615px;
$arrow-right-on-offset-y: -840px;
$arrow-right-on-width: 9px;
$arrow-right-on-height: 12px;
$arrow-right-on-total-width: 1071px;
$arrow-right-on-total-height: 1013px;
$arrow-right-on-image: '../imgs/sprite.png?20170929035949';
$arrow-right-on: (615px, 840px, -615px, -840px, 9px, 12px, 1071px, 1013px, '../imgs/sprite.png?20170929035949', 'arrow_right_on', );
$arrow-right-paging-name: 'arrow_right_paging';
$arrow-right-paging-x: 586px;
$arrow-right-paging-y: 840px;
$arrow-right-paging-offset-x: -586px;
$arrow-right-paging-offset-y: -840px;
$arrow-right-paging-width: 9px;
$arrow-right-paging-height: 12px;
$arrow-right-paging-total-width: 1071px;
$arrow-right-paging-total-height: 1013px;
$arrow-right-paging-image: '../imgs/sprite.png?20170929035949';
$arrow-right-paging: (586px, 840px, -586px, -840px, 9px, 12px, 1071px, 1013px, '../imgs/sprite.png?20170929035949', 'arrow_right_paging', );
$arrow-right-paging-on-name: 'arrow_right_paging_on';
$arrow-right-paging-on-x: 528px;
$arrow-right-paging-on-y: 840px;
$arrow-right-paging-on-offset-x: -528px;
$arrow-right-paging-on-offset-y: -840px;
$arrow-right-paging-on-width: 9px;
$arrow-right-paging-on-height: 12px;
$arrow-right-paging-on-total-width: 1071px;
$arrow-right-paging-on-total-height: 1013px;
$arrow-right-paging-on-image: '../imgs/sprite.png?20170929035949';
$arrow-right-paging-on: (528px, 840px, -528px, -840px, 9px, 12px, 1071px, 1013px, '../imgs/sprite.png?20170929035949', 'arrow_right_paging_on', );
$arrow-top-name: 'arrow_top';
$arrow-top-x: 378px;
$arrow-top-y: 596px;
$arrow-top-offset-x: -378px;
$arrow-top-offset-y: -596px;
$arrow-top-width: 12px;
$arrow-top-height: 9px;
$arrow-top-total-width: 1071px;
$arrow-top-total-height: 1013px;
$arrow-top-image: '../imgs/sprite.png?20170929035949';
$arrow-top: (378px, 596px, -378px, -596px, 12px, 9px, 1071px, 1013px, '../imgs/sprite.png?20170929035949', 'arrow_top', );
$arrow-top-on-name: 'arrow_top_on';
$arrow-top-on-x: 346px;
$arrow-top-on-y: 596px;
$arrow-top-on-offset-x: -346px;
$arrow-top-on-offset-y: -596px;
$arrow-top-on-width: 12px;
$arrow-top-on-height: 9px;
$arrow-top-on-total-width: 1071px;
$arrow-top-on-total-height: 1013px;
$arrow-top-on-image: '../imgs/sprite.png?20170929035949';
$arrow-top-on: (346px, 596px, -346px, -596px, 12px, 9px, 1071px, 1013px, '../imgs/sprite.png?20170929035949', 'arrow_top_on', );
$cross-name: 'cross';
$cross-x: 1042px;
$cross-y: 715px;
$cross-offset-x: -1042px;
$cross-offset-y: -715px;
$cross-width: 20px;
$cross-height: 18px;
$cross-total-width: 1071px;
$cross-total-height: 1013px;
$cross-image: '../imgs/sprite.png?20170929035949';
$cross: (1042px, 715px, -1042px, -715px, 20px, 18px, 1071px, 1013px, '../imgs/sprite.png?20170929035949', 'cross', );
$cross-b-name: 'cross_b';
$cross-b-x: 912px;
$cross-b-y: 792px;
$cross-b-offset-x: -912px;
$cross-b-offset-y: -792px;
$cross-b-width: 13px;
$cross-b-height: 13px;
$cross-b-total-width: 1071px;
$cross-b-total-height: 1013px;
$cross-b-image: '../imgs/sprite.png?20170929035949';
$cross-b: (912px, 792px, -912px, -792px, 13px, 13px, 1071px, 1013px, '../imgs/sprite.png?20170929035949', 'cross_b', );
$ico-date-name: 'ico_date';
$ico-date-x: 1042px;
$ico-date-y: 829px;
$ico-date-offset-x: -1042px;
$ico-date-offset-y: -829px;
$ico-date-width: 19px;
$ico-date-height: 17px;
$ico-date-total-width: 1071px;
$ico-date-total-height: 1013px;
$ico-date-image: '../imgs/sprite.png?20170929035949';
$ico-date: (1042px, 829px, -1042px, -829px, 19px, 17px, 1071px, 1013px, '../imgs/sprite.png?20170929035949', 'ico_date', );
$ico-date-big-name: 'ico_date_big';
$ico-date-big-x: 1042px;
$ico-date-big-y: 478px;
$ico-date-big-offset-x: -1042px;
$ico-date-big-offset-y: -478px;
$ico-date-big-width: 26px;
$ico-date-big-height: 24px;
$ico-date-big-total-width: 1071px;
$ico-date-big-total-height: 1013px;
$ico-date-big-image: '../imgs/sprite.png?20170929035949';
$ico-date-big: (1042px, 478px, -1042px, -478px, 26px, 24px, 1071px, 1013px, '../imgs/sprite.png?20170929035949', 'ico_date_big', );
$ico-error-name: 'ico_error';
$ico-error-x: 279px;
$ico-error-y: 476px;
$ico-error-offset-x: -279px;
$ico-error-offset-y: -476px;
$ico-error-width: 101px;
$ico-error-height: 99px;
$ico-error-total-width: 1071px;
$ico-error-total-height: 1013px;
$ico-error-image: '../imgs/sprite.png?20170929035949';
$ico-error: (279px, 476px, -279px, -476px, 101px, 99px, 1071px, 1013px, '../imgs/sprite.png?20170929035949', 'ico_error', );
$ico-faq-a-name: 'ico_faq_a';
$ico-faq-a-x: 1042px;
$ico-faq-a-y: 522px;
$ico-faq-a-offset-x: -1042px;
$ico-faq-a-offset-y: -522px;
$ico-faq-a-width: 20px;
$ico-faq-a-height: 20px;
$ico-faq-a-total-width: 1071px;
$ico-faq-a-total-height: 1013px;
$ico-faq-a-image: '../imgs/sprite.png?20170929035949';
$ico-faq-a: (1042px, 522px, -1042px, -522px, 20px, 20px, 1071px, 1013px, '../imgs/sprite.png?20170929035949', 'ico_faq_a', );
$ico-faq-q-name: 'ico_faq_q';
$ico-faq-q-x: 1042px;
$ico-faq-q-y: 562px;
$ico-faq-q-offset-x: -1042px;
$ico-faq-q-offset-y: -562px;
$ico-faq-q-width: 20px;
$ico-faq-q-height: 20px;
$ico-faq-q-total-width: 1071px;
$ico-faq-q-total-height: 1013px;
$ico-faq-q-image: '../imgs/sprite.png?20170929035949';
$ico-faq-q: (1042px, 562px, -1042px, -562px, 20px, 20px, 1071px, 1013px, '../imgs/sprite.png?20170929035949', 'ico_faq_q', );
$ico-filter-name: 'ico_filter';
$ico-filter-x: 152px;
$ico-filter-y: 596px;
$ico-filter-offset-x: -152px;
$ico-filter-offset-y: -596px;
$ico-filter-width: 14px;
$ico-filter-height: 11px;
$ico-filter-total-width: 1071px;
$ico-filter-total-height: 1013px;
$ico-filter-image: '../imgs/sprite.png?20170929035949';
$ico-filter: (152px, 596px, -152px, -596px, 14px, 11px, 1071px, 1013px, '../imgs/sprite.png?20170929035949', 'ico_filter', );
$ico-go-list-name: 'ico_go_list';
$ico-go-list-x: 1042px;
$ico-go-list-y: 639px;
$ico-go-list-offset-x: -1042px;
$ico-go-list-offset-y: -639px;
$ico-go-list-width: 23px;
$ico-go-list-height: 17px;
$ico-go-list-total-width: 1071px;
$ico-go-list-total-height: 1013px;
$ico-go-list-image: '../imgs/sprite.png?20170929035949';
$ico-go-list: (1042px, 639px, -1042px, -639px, 23px, 17px, 1071px, 1013px, '../imgs/sprite.png?20170929035949', 'ico_go_list', );
$ico-go-list-on-name: 'ico_go_list_on';
$ico-go-list-on-x: 1042px;
$ico-go-list-on-y: 602px;
$ico-go-list-on-offset-x: -1042px;
$ico-go-list-on-offset-y: -602px;
$ico-go-list-on-width: 23px;
$ico-go-list-on-height: 17px;
$ico-go-list-on-total-width: 1071px;
$ico-go-list-on-total-height: 1013px;
$ico-go-list-on-image: '../imgs/sprite.png?20170929035949';
$ico-go-list-on: (1042px, 602px, -1042px, -602px, 23px, 17px, 1071px, 1013px, '../imgs/sprite.png?20170929035949', 'ico_go_list_on', );
$ico-help-name: 'ico_help';
$ico-help-x: 1042px;
$ico-help-y: 753px;
$ico-help-offset-x: -1042px;
$ico-help-offset-y: -753px;
$ico-help-width: 18px;
$ico-help-height: 18px;
$ico-help-total-width: 1071px;
$ico-help-total-height: 1013px;
$ico-help-image: '../imgs/sprite.png?20170929035949';
$ico-help: (1042px, 753px, -1042px, -753px, 18px, 18px, 1071px, 1013px, '../imgs/sprite.png?20170929035949', 'ico_help', );
$ico-help-w-name: 'ico_help_w';
$ico-help-w-x: 1042px;
$ico-help-w-y: 791px;
$ico-help-w-offset-x: -1042px;
$ico-help-w-offset-y: -791px;
$ico-help-w-width: 18px;
$ico-help-w-height: 18px;
$ico-help-w-total-width: 1071px;
$ico-help-w-total-height: 1013px;
$ico-help-w-image: '../imgs/sprite.png?20170929035949';
$ico-help-w: (1042px, 791px, -1042px, -791px, 18px, 18px, 1071px, 1013px, '../imgs/sprite.png?20170929035949', 'ico_help_w', );
$ico-list-search-name: 'ico_list_search';
$ico-list-search-x: 1042px;
$ico-list-search-y: 866px;
$ico-list-search-offset-x: -1042px;
$ico-list-search-offset-y: -866px;
$ico-list-search-width: 17px;
$ico-list-search-height: 17px;
$ico-list-search-total-width: 1071px;
$ico-list-search-total-height: 1013px;
$ico-list-search-image: '../imgs/sprite.png?20170929035949';
$ico-list-search: (1042px, 866px, -1042px, -866px, 17px, 17px, 1071px, 1013px, '../imgs/sprite.png?20170929035949', 'ico_list_search', );
$ico-list-search-remove-name: 'ico_list_search_remove';
$ico-list-search-remove-x: 442px;
$ico-list-search-remove-y: 596px;
$ico-list-search-remove-offset-x: -442px;
$ico-list-search-remove-offset-y: -596px;
$ico-list-search-remove-width: 7px;
$ico-list-search-remove-height: 7px;
$ico-list-search-remove-total-width: 1071px;
$ico-list-search-remove-total-height: 1013px;
$ico-list-search-remove-image: '../imgs/sprite.png?20170929035949';
$ico-list-search-remove: (442px, 596px, -442px, -596px, 7px, 7px, 1071px, 1013px, '../imgs/sprite.png?20170929035949', 'ico_list_search_remove', );
$ico-map-point-name: 'ico_map_point';
$ico-map-point-x: 798px;
$ico-map-point-y: 740px;
$ico-map-point-offset-x: -798px;
$ico-map-point-offset-y: -740px;
$ico-map-point-width: 33px;
$ico-map-point-height: 49px;
$ico-map-point-total-width: 1071px;
$ico-map-point-total-height: 1013px;
$ico-map-point-image: '../imgs/sprite.png?20170929035949';
$ico-map-point: (798px, 740px, -798px, -740px, 33px, 49px, 1071px, 1013px, '../imgs/sprite.png?20170929035949', 'ico_map_point', );
$ico-popup-close-name: 'ico_popup_close';
$ico-popup-close-x: 1042px;
$ico-popup-close-y: 939px;
$ico-popup-close-offset-x: -1042px;
$ico-popup-close-offset-y: -939px;
$ico-popup-close-width: 13px;
$ico-popup-close-height: 13px;
$ico-popup-close-total-width: 1071px;
$ico-popup-close-total-height: 1013px;
$ico-popup-close-image: '../imgs/sprite.png?20170929035949';
$ico-popup-close: (1042px, 939px, -1042px, -939px, 13px, 13px, 1071px, 1013px, '../imgs/sprite.png?20170929035949', 'ico_popup_close', );
$ico-popup-header-name: 'ico_popup_header';
$ico-popup-header-x: 1042px;
$ico-popup-header-y: 903px;
$ico-popup-header-offset-x: -1042px;
$ico-popup-header-offset-y: -903px;
$ico-popup-header-width: 17px;
$ico-popup-header-height: 16px;
$ico-popup-header-total-width: 1071px;
$ico-popup-header-total-height: 1013px;
$ico-popup-header-image: '../imgs/sprite.png?20170929035949';
$ico-popup-header: (1042px, 903px, -1042px, -903px, 17px, 16px, 1071px, 1013px, '../imgs/sprite.png?20170929035949', 'ico_popup_header', );
$ico-reset-name: 'ico_reset';
$ico-reset-x: 218px;
$ico-reset-y: 596px;
$ico-reset-offset-x: -218px;
$ico-reset-offset-y: -596px;
$ico-reset-width: 12px;
$ico-reset-height: 11px;
$ico-reset-total-width: 1071px;
$ico-reset-total-height: 1013px;
$ico-reset-image: '../imgs/sprite.png?20170929035949';
$ico-reset: (218px, 596px, -218px, -596px, 12px, 11px, 1071px, 1013px, '../imgs/sprite.png?20170929035949', 'ico_reset', );
$ico-reset-g-name: 'ico_reset_g';
$ico-reset-g-x: 186px;
$ico-reset-g-y: 596px;
$ico-reset-g-offset-x: -186px;
$ico-reset-g-offset-y: -596px;
$ico-reset-g-width: 12px;
$ico-reset-g-height: 11px;
$ico-reset-g-total-width: 1071px;
$ico-reset-g-total-height: 1013px;
$ico-reset-g-image: '../imgs/sprite.png?20170929035949';
$ico-reset-g: (186px, 596px, -186px, -596px, 12px, 11px, 1071px, 1013px, '../imgs/sprite.png?20170929035949', 'ico_reset_g', );
$ico-search-name: 'ico_search';
$ico-search-x: 827px;
$ico-search-y: 416px;
$ico-search-offset-x: -827px;
$ico-search-offset-y: -416px;
$ico-search-width: 13px;
$ico-search-height: 13px;
$ico-search-total-width: 1071px;
$ico-search-total-height: 1013px;
$ico-search-image: '../imgs/sprite.png?20170929035949';
$ico-search: (827px, 416px, -827px, -416px, 13px, 13px, 1071px, 1013px, '../imgs/sprite.png?20170929035949', 'ico_search', );
$ico-search-position-name: 'ico_search_position';
$ico-search-position-x: 400px;
$ico-search-position-y: 476px;
$ico-search-position-offset-x: -400px;
$ico-search-position-offset-y: -476px;
$ico-search-position-width: 104px;
$ico-search-position-height: 93px;
$ico-search-position-total-width: 1071px;
$ico-search-position-total-height: 1013px;
$ico-search-position-image: '../imgs/sprite.png?20170929035949';
$ico-search-position: (400px, 476px, -400px, -476px, 104px, 93px, 1071px, 1013px, '../imgs/sprite.png?20170929035949', 'ico_search_position', );
$ico-time-name: 'ico_time';
$ico-time-x: 1042px;
$ico-time-y: 676px;
$ico-time-offset-x: -1042px;
$ico-time-offset-y: -676px;
$ico-time-width: 19px;
$ico-time-height: 19px;
$ico-time-total-width: 1071px;
$ico-time-total-height: 1013px;
$ico-time-image: '../imgs/sprite.png?20170929035949';
$ico-time: (1042px, 676px, -1042px, -676px, 19px, 19px, 1071px, 1013px, '../imgs/sprite.png?20170929035949', 'ico_time', );
$ico-time-big-name: 'ico_time_big';
$ico-time-big-x: 1042px;
$ico-time-big-y: 432px;
$ico-time-big-offset-x: -1042px;
$ico-time-big-offset-y: -432px;
$ico-time-big-width: 26px;
$ico-time-big-height: 26px;
$ico-time-big-total-width: 1071px;
$ico-time-big-total-height: 1013px;
$ico-time-big-image: '../imgs/sprite.png?20170929035949';
$ico-time-big: (1042px, 432px, -1042px, -432px, 26px, 26px, 1071px, 1013px, '../imgs/sprite.png?20170929035949', 'ico_time_big', );
$logo-ci-name: 'logo_ci';
$logo-ci-x: 0px;
$logo-ci-y: 981px;
$logo-ci-offset-x: 0px;
$logo-ci-offset-y: -981px;
$logo-ci-width: 35px;
$logo-ci-height: 32px;
$logo-ci-total-width: 1071px;
$logo-ci-total-height: 1013px;
$logo-ci-image: '../imgs/sprite.png?20170929035949';
$logo-ci: (0px, 981px, 0px, -981px, 35px, 32px, 1071px, 1013px, '../imgs/sprite.png?20170929035949', 'logo_ci', );
$logo-ci-admin-name: 'logo_ci_admin';
$logo-ci-admin-x: 706px;
$logo-ci-admin-y: 740px;
$logo-ci-admin-offset-x: -706px;
$logo-ci-admin-offset-y: -740px;
$logo-ci-admin-width: 72px;
$logo-ci-admin-height: 66px;
$logo-ci-admin-total-width: 1071px;
$logo-ci-admin-total-height: 1013px;
$logo-ci-admin-image: '../imgs/sprite.png?20170929035949';
$logo-ci-admin: (706px, 740px, -706px, -740px, 72px, 66px, 1071px, 1013px, '../imgs/sprite.png?20170929035949', 'logo_ci_admin', );
$logo-ci-admin2-name: 'logo_ci_admin2';
$logo-ci-admin2-x: 55px;
$logo-ci-admin2-y: 981px;
$logo-ci-admin2-offset-x: -55px;
$logo-ci-admin2-offset-y: -981px;
$logo-ci-admin2-width: 33px;
$logo-ci-admin2-height: 30px;
$logo-ci-admin2-total-width: 1071px;
$logo-ci-admin2-total-height: 1013px;
$logo-ci-admin2-image: '../imgs/sprite.png?20170929035949';
$logo-ci-admin2: (55px, 981px, -55px, -981px, 33px, 30px, 1071px, 1013px, '../imgs/sprite.png?20170929035949', 'logo_ci_admin2', );
$logo-footer-name: 'logo_footer';
$logo-footer-x: 326px;
$logo-footer-y: 632px;
$logo-footer-offset-x: -326px;
$logo-footer-offset-y: -632px;
$logo-footer-width: 90px;
$logo-footer-height: 83px;
$logo-footer-total-width: 1071px;
$logo-footer-total-height: 1013px;
$logo-footer-image: '../imgs/sprite.png?20170929035949';
$logo-footer: (326px, 632px, -326px, -632px, 90px, 83px, 1071px, 1013px, '../imgs/sprite.png?20170929035949', 'logo_footer', );
$logo-text1-name: 'logo_text1';
$logo-text1-x: 100px;
$logo-text1-y: 840px;
$logo-text1-offset-x: -100px;
$logo-text1-offset-y: -840px;
$logo-text1-width: 111px;
$logo-text1-height: 18px;
$logo-text1-total-width: 1071px;
$logo-text1-total-height: 1013px;
$logo-text1-image: '../imgs/sprite.png?20170929035949';
$logo-text1: (100px, 840px, -100px, -840px, 111px, 18px, 1071px, 1013px, '../imgs/sprite.png?20170929035949', 'logo_text1', );
$logo-text1-admin-name: 'logo_text1_admin';
$logo-text1-admin-x: 524px;
$logo-text1-admin-y: 532px;
$logo-text1-admin-offset-x: -524px;
$logo-text1-admin-offset-y: -532px;
$logo-text1-admin-width: 228px;
$logo-text1-admin-height: 36px;
$logo-text1-admin-total-width: 1071px;
$logo-text1-admin-total-height: 1013px;
$logo-text1-admin-image: '../imgs/sprite.png?20170929035949';
$logo-text1-admin: (524px, 532px, -524px, -532px, 228px, 36px, 1071px, 1013px, '../imgs/sprite.png?20170929035949', 'logo_text1_admin', );
$logo-text1-admin2-name: 'logo_text1_admin2';
$logo-text1-admin2-x: 231px;
$logo-text1-admin2-y: 840px;
$logo-text1-admin2-offset-x: -231px;
$logo-text1-admin2-offset-y: -840px;
$logo-text1-admin2-width: 104px;
$logo-text1-admin2-height: 18px;
$logo-text1-admin2-total-width: 1071px;
$logo-text1-admin2-total-height: 1013px;
$logo-text1-admin2-image: '../imgs/sprite.png?20170929035949';
$logo-text1-admin2: (231px, 840px, -231px, -840px, 104px, 18px, 1071px, 1013px, '../imgs/sprite.png?20170929035949', 'logo_text1_admin2', );
$logo-text2-name: 'logo_text2';
$logo-text2-x: 696px;
$logo-text2-y: 416px;
$logo-text2-offset-x: -696px;
$logo-text2-offset-y: -416px;
$logo-text2-width: 111px;
$logo-text2-height: 18px;
$logo-text2-total-width: 1071px;
$logo-text2-total-height: 1013px;
$logo-text2-image: '../imgs/sprite.png?20170929035949';
$logo-text2: (696px, 416px, -696px, -416px, 111px, 18px, 1071px, 1013px, '../imgs/sprite.png?20170929035949', 'logo_text2', );
$logo-text2-admin-name: 'logo_text2_admin';
$logo-text2-admin-x: 524px;
$logo-text2-admin-y: 476px;
$logo-text2-admin-offset-x: -524px;
$logo-text2-admin-offset-y: -476px;
$logo-text2-admin-width: 228px;
$logo-text2-admin-height: 36px;
$logo-text2-admin-total-width: 1071px;
$logo-text2-admin-total-height: 1013px;
$logo-text2-admin-image: '../imgs/sprite.png?20170929035949';
$logo-text2-admin: (524px, 476px, -524px, -476px, 228px, 36px, 1071px, 1013px, '../imgs/sprite.png?20170929035949', 'logo_text2_admin', );
$logo-text2-admin2-name: 'logo_text2_admin2';
$logo-text2-admin2-x: 355px;
$logo-text2-admin2-y: 840px;
$logo-text2-admin2-offset-x: -355px;
$logo-text2-admin2-offset-y: -840px;
$logo-text2-admin2-width: 103px;
$logo-text2-admin2-height: 18px;
$logo-text2-admin2-total-width: 1071px;
$logo-text2-admin2-total-height: 1013px;
$logo-text2-admin2-image: '../imgs/sprite.png?20170929035949';
$logo-text2-admin2: (355px, 840px, -355px, -840px, 103px, 18px, 1071px, 1013px, '../imgs/sprite.png?20170929035949', 'logo_text2_admin2', );
$m-arrow-bottom-name: 'm_arrow_bottom';
$m-arrow-bottom-x: 772px;
$m-arrow-bottom-y: 532px;
$m-arrow-bottom-offset-x: -772px;
$m-arrow-bottom-offset-y: -532px;
$m-arrow-bottom-width: 52px;
$m-arrow-bottom-height: 29px;
$m-arrow-bottom-total-width: 1071px;
$m-arrow-bottom-total-height: 1013px;
$m-arrow-bottom-image: '../imgs/sprite.png?20170929035949';
$m-arrow-bottom: (772px, 532px, -772px, -532px, 52px, 29px, 1071px, 1013px, '../imgs/sprite.png?20170929035949', 'm_arrow_bottom', );
$m-arrow-bottom-on-name: 'm_arrow_bottom_on';
$m-arrow-bottom-on-x: 202px;
$m-arrow-bottom-on-y: 916px;
$m-arrow-bottom-on-offset-x: -202px;
$m-arrow-bottom-on-offset-y: -916px;
$m-arrow-bottom-on-width: 52px;
$m-arrow-bottom-on-height: 29px;
$m-arrow-bottom-on-total-width: 1071px;
$m-arrow-bottom-on-total-height: 1013px;
$m-arrow-bottom-on-image: '../imgs/sprite.png?20170929035949';
$m-arrow-bottom-on: (202px, 916px, -202px, -916px, 52px, 29px, 1071px, 1013px, '../imgs/sprite.png?20170929035949', 'm_arrow_bottom_on', );
$m-arrow-bottom-w-name: 'm_arrow_bottom_w';
$m-arrow-bottom-w-x: 772px;
$m-arrow-bottom-w-y: 476px;
$m-arrow-bottom-w-offset-x: -772px;
$m-arrow-bottom-w-offset-y: -476px;
$m-arrow-bottom-w-width: 52px;
$m-arrow-bottom-w-height: 29px;
$m-arrow-bottom-w-total-width: 1071px;
$m-arrow-bottom-w-total-height: 1013px;
$m-arrow-bottom-w-image: '../imgs/sprite.png?20170929035949';
$m-arrow-bottom-w: (772px, 476px, -772px, -476px, 52px, 29px, 1071px, 1013px, '../imgs/sprite.png?20170929035949', 'm_arrow_bottom_w', );
$m-arrow-left-name: 'm_arrow_left';
$m-arrow-left-x: 1042px;
$m-arrow-left-y: 0px;
$m-arrow-left-offset-x: -1042px;
$m-arrow-left-offset-y: 0px;
$m-arrow-left-width: 29px;
$m-arrow-left-height: 52px;
$m-arrow-left-total-width: 1071px;
$m-arrow-left-total-height: 1013px;
$m-arrow-left-image: '../imgs/sprite.png?20170929035949';
$m-arrow-left: (1042px, 0px, -1042px, 0px, 29px, 52px, 1071px, 1013px, '../imgs/sprite.png?20170929035949', 'm_arrow_left', );
$m-arrow-left-big-name: 'm_arrow_left_big';
$m-arrow-left-big-x: 546px;
$m-arrow-left-big-y: 632px;
$m-arrow-left-big-offset-x: -546px;
$m-arrow-left-big-offset-y: -632px;
$m-arrow-left-big-width: 92px;
$m-arrow-left-big-height: 68px;
$m-arrow-left-big-total-width: 1071px;
$m-arrow-left-big-total-height: 1013px;
$m-arrow-left-big-image: '../imgs/sprite.png?20170929035949';
$m-arrow-left-big: (546px, 632px, -546px, -632px, 92px, 68px, 1071px, 1013px, '../imgs/sprite.png?20170929035949', 'm_arrow_left_big', );
$m-arrow-left-big-on-name: 'm_arrow_left_big_on';
$m-arrow-left-big-on-x: 658px;
$m-arrow-left-big-on-y: 632px;
$m-arrow-left-big-on-offset-x: -658px;
$m-arrow-left-big-on-offset-y: -632px;
$m-arrow-left-big-on-width: 92px;
$m-arrow-left-big-on-height: 68px;
$m-arrow-left-big-on-total-width: 1071px;
$m-arrow-left-big-on-total-height: 1013px;
$m-arrow-left-big-on-image: '../imgs/sprite.png?20170929035949';
$m-arrow-left-big-on: (658px, 632px, -658px, -632px, 92px, 68px, 1071px, 1013px, '../imgs/sprite.png?20170929035949', 'm_arrow_left_big_on', );
$m-arrow-left-on-name: 'm_arrow_left_on';
$m-arrow-left-on-x: 1042px;
$m-arrow-left-on-y: 144px;
$m-arrow-left-on-offset-x: -1042px;
$m-arrow-left-on-offset-y: -144px;
$m-arrow-left-on-width: 29px;
$m-arrow-left-on-height: 52px;
$m-arrow-left-on-total-width: 1071px;
$m-arrow-left-on-total-height: 1013px;
$m-arrow-left-on-image: '../imgs/sprite.png?20170929035949';
$m-arrow-left-on: (1042px, 144px, -1042px, -144px, 29px, 52px, 1071px, 1013px, '../imgs/sprite.png?20170929035949', 'm_arrow_left_on', );
$m-arrow-right-name: 'm_arrow_right';
$m-arrow-right-x: 1042px;
$m-arrow-right-y: 216px;
$m-arrow-right-offset-x: -1042px;
$m-arrow-right-offset-y: -216px;
$m-arrow-right-width: 29px;
$m-arrow-right-height: 52px;
$m-arrow-right-total-width: 1071px;
$m-arrow-right-total-height: 1013px;
$m-arrow-right-image: '../imgs/sprite.png?20170929035949';
$m-arrow-right: (1042px, 216px, -1042px, -216px, 29px, 52px, 1071px, 1013px, '../imgs/sprite.png?20170929035949', 'm_arrow_right', );
$m-arrow-right-on-name: 'm_arrow_right_on';
$m-arrow-right-on-x: 1042px;
$m-arrow-right-on-y: 288px;
$m-arrow-right-on-offset-x: -1042px;
$m-arrow-right-on-offset-y: -288px;
$m-arrow-right-on-width: 29px;
$m-arrow-right-on-height: 52px;
$m-arrow-right-on-total-width: 1071px;
$m-arrow-right-on-total-height: 1013px;
$m-arrow-right-on-image: '../imgs/sprite.png?20170929035949';
$m-arrow-right-on: (1042px, 288px, -1042px, -288px, 29px, 52px, 1071px, 1013px, '../imgs/sprite.png?20170929035949', 'm_arrow_right_on', );
$m-arrow-right-w-name: 'm_arrow_right_w';
$m-arrow-right-w-x: 1042px;
$m-arrow-right-w-y: 360px;
$m-arrow-right-w-offset-x: -1042px;
$m-arrow-right-w-offset-y: -360px;
$m-arrow-right-w-width: 29px;
$m-arrow-right-w-height: 52px;
$m-arrow-right-w-total-width: 1071px;
$m-arrow-right-w-total-height: 1013px;
$m-arrow-right-w-image: '../imgs/sprite.png?20170929035949';
$m-arrow-right-w: (1042px, 360px, -1042px, -360px, 29px, 52px, 1071px, 1013px, '../imgs/sprite.png?20170929035949', 'm_arrow_right_w', );
$m-arrow-top-name: 'm_arrow_top';
$m-arrow-top-x: 130px;
$m-arrow-top-y: 916px;
$m-arrow-top-offset-x: -130px;
$m-arrow-top-offset-y: -916px;
$m-arrow-top-width: 52px;
$m-arrow-top-height: 29px;
$m-arrow-top-total-width: 1071px;
$m-arrow-top-total-height: 1013px;
$m-arrow-top-image: '../imgs/sprite.png?20170929035949';
$m-arrow-top: (130px, 916px, -130px, -916px, 52px, 29px, 1071px, 1013px, '../imgs/sprite.png?20170929035949', 'm_arrow_top', );
$m-arrow-top-big-name: 'm_arrow_top_big';
$m-arrow-top-big-x: 860px;
$m-arrow-top-big-y: 0px;
$m-arrow-top-big-offset-x: -860px;
$m-arrow-top-big-offset-y: 0px;
$m-arrow-top-big-width: 68px;
$m-arrow-top-big-height: 92px;
$m-arrow-top-big-total-width: 1071px;
$m-arrow-top-big-total-height: 1013px;
$m-arrow-top-big-image: '../imgs/sprite.png?20170929035949';
$m-arrow-top-big: (860px, 0px, -860px, 0px, 68px, 92px, 1071px, 1013px, '../imgs/sprite.png?20170929035949', 'm_arrow_top_big', );
$m-arrow-top-big-on-name: 'm_arrow_top_big_on';
$m-arrow-top-big-on-x: 860px;
$m-arrow-top-big-on-y: 112px;
$m-arrow-top-big-on-offset-x: -860px;
$m-arrow-top-big-on-offset-y: -112px;
$m-arrow-top-big-on-width: 68px;
$m-arrow-top-big-on-height: 92px;
$m-arrow-top-big-on-total-width: 1071px;
$m-arrow-top-big-on-total-height: 1013px;
$m-arrow-top-big-on-image: '../imgs/sprite.png?20170929035949';
$m-arrow-top-big-on: (860px, 112px, -860px, -112px, 68px, 92px, 1071px, 1013px, '../imgs/sprite.png?20170929035949', 'm_arrow_top_big_on', );
$m-call-name: 'm_call';
$m-call-x: 408px;
$m-call-y: 740px;
$m-call-offset-x: -408px;
$m-call-offset-y: -740px;
$m-call-width: 79px;
$m-call-height: 79px;
$m-call-total-width: 1071px;
$m-call-total-height: 1013px;
$m-call-image: '../imgs/sprite.png?20170929035949';
$m-call: (408px, 740px, -408px, -740px, 79px, 79px, 1071px, 1013px, '../imgs/sprite.png?20170929035949', 'm_call', );
$m-cross-b-name: 'm_cross_b';
$m-cross-b-x: 948px;
$m-cross-b-y: 459px;
$m-cross-b-offset-x: -948px;
$m-cross-b-offset-y: -459px;
$m-cross-b-width: 57px;
$m-cross-b-height: 58px;
$m-cross-b-total-width: 1071px;
$m-cross-b-total-height: 1013px;
$m-cross-b-image: '../imgs/sprite.png?20170929035949';
$m-cross-b: (948px, 459px, -948px, -459px, 57px, 58px, 1071px, 1013px, '../imgs/sprite.png?20170929035949', 'm_cross_b', );
$m-cross-w-name: 'm_cross_w';
$m-cross-w-x: 948px;
$m-cross-w-y: 381px;
$m-cross-w-offset-x: -948px;
$m-cross-w-offset-y: -381px;
$m-cross-w-width: 57px;
$m-cross-w-height: 58px;
$m-cross-w-total-width: 1071px;
$m-cross-w-total-height: 1013px;
$m-cross-w-image: '../imgs/sprite.png?20170929035949';
$m-cross-w: (948px, 381px, -948px, -381px, 57px, 58px, 1071px, 1013px, '../imgs/sprite.png?20170929035949', 'm_cross_w', );
$m-ico-back-name: 'm_ico_back';
$m-ico-back-x: 1042px;
$m-ico-back-y: 72px;
$m-ico-back-offset-x: -1042px;
$m-ico-back-offset-y: -72px;
$m-ico-back-width: 29px;
$m-ico-back-height: 52px;
$m-ico-back-total-width: 1071px;
$m-ico-back-total-height: 1013px;
$m-ico-back-image: '../imgs/sprite.png?20170929035949';
$m-ico-back: (1042px, 72px, -1042px, -72px, 29px, 52px, 1071px, 1013px, '../imgs/sprite.png?20170929035949', 'm_ico_back', );
$m-ico-checkbox-name: 'm_ico_checkbox';
$m-ico-checkbox-x: 860px;
$m-ico-checkbox-y: 792px;
$m-ico-checkbox-offset-x: -860px;
$m-ico-checkbox-offset-y: -792px;
$m-ico-checkbox-width: 32px;
$m-ico-checkbox-height: 19px;
$m-ico-checkbox-total-width: 1071px;
$m-ico-checkbox-total-height: 1013px;
$m-ico-checkbox-image: '../imgs/sprite.png?20170929035949';
$m-ico-checkbox: (860px, 792px, -860px, -792px, 32px, 19px, 1071px, 1013px, '../imgs/sprite.png?20170929035949', 'm_ico_checkbox', );
$m-ico-checkbox-on-name: 'm_ico_checkbox_on';
$m-ico-checkbox-on-x: 274px;
$m-ico-checkbox-on-y: 916px;
$m-ico-checkbox-on-offset-x: -274px;
$m-ico-checkbox-on-offset-y: -916px;
$m-ico-checkbox-on-width: 32px;
$m-ico-checkbox-on-height: 19px;
$m-ico-checkbox-on-total-width: 1071px;
$m-ico-checkbox-on-total-height: 1013px;
$m-ico-checkbox-on-image: '../imgs/sprite.png?20170929035949';
$m-ico-checkbox-on: (274px, 916px, -274px, -916px, 32px, 19px, 1071px, 1013px, '../imgs/sprite.png?20170929035949', 'm_ico_checkbox_on', );
$m-ico-date-name: 'm_ico_date';
$m-ico-date-x: 606px;
$m-ico-date-y: 740px;
$m-ico-date-offset-x: -606px;
$m-ico-date-offset-y: -740px;
$m-ico-date-width: 80px;
$m-ico-date-height: 72px;
$m-ico-date-total-width: 1071px;
$m-ico-date-total-height: 1013px;
$m-ico-date-image: '../imgs/sprite.png?20170929035949';
$m-ico-date: (606px, 740px, -606px, -740px, 80px, 72px, 1071px, 1013px, '../imgs/sprite.png?20170929035949', 'm_ico_date', );
$m-ico-error-name: 'm_ico_error';
$m-ico-error-x: 0px;
$m-ico-error-y: 0px;
$m-ico-error-offset-x: 0px;
$m-ico-error-offset-y: 0px;
$m-ico-error-width: 404px;
$m-ico-error-height: 396px;
$m-ico-error-total-width: 1071px;
$m-ico-error-total-height: 1013px;
$m-ico-error-image: '../imgs/sprite.png?20170929035949';
$m-ico-error: (0px, 0px, 0px, 0px, 404px, 396px, 1071px, 1013px, '../imgs/sprite.png?20170929035949', 'm_ico_error', );
$m-ico-facebook-name: 'm_ico_facebook';
$m-ico-facebook-x: 860px;
$m-ico-facebook-y: 224px;
$m-ico-facebook-offset-x: -860px;
$m-ico-facebook-offset-y: -224px;
$m-ico-facebook-width: 50px;
$m-ico-facebook-height: 96px;
$m-ico-facebook-total-width: 1071px;
$m-ico-facebook-total-height: 1013px;
$m-ico-facebook-image: '../imgs/sprite.png?20170929035949';
$m-ico-facebook: (860px, 224px, -860px, -224px, 50px, 96px, 1071px, 1013px, '../imgs/sprite.png?20170929035949', 'm_ico_facebook', );
$m-ico-faq-name: 'm_ico_faq';
$m-ico-faq-x: 948px;
$m-ico-faq-y: 77px;
$m-ico-faq-offset-x: -948px;
$m-ico-faq-offset-y: -77px;
$m-ico-faq-width: 72px;
$m-ico-faq-height: 56px;
$m-ico-faq-total-width: 1071px;
$m-ico-faq-total-height: 1013px;
$m-ico-faq-image: '../imgs/sprite.png?20170929035949';
$m-ico-faq: (948px, 77px, -948px, -77px, 72px, 56px, 1071px, 1013px, '../imgs/sprite.png?20170929035949', 'm_ico_faq', );
$m-ico-faq-a-name: 'm_ico_faq_a';
$m-ico-faq-a-x: 208px;
$m-ico-faq-a-y: 740px;
$m-ico-faq-a-offset-x: -208px;
$m-ico-faq-a-offset-y: -740px;
$m-ico-faq-a-width: 80px;
$m-ico-faq-a-height: 80px;
$m-ico-faq-a-total-width: 1071px;
$m-ico-faq-a-total-height: 1013px;
$m-ico-faq-a-image: '../imgs/sprite.png?20170929035949';
$m-ico-faq-a: (208px, 740px, -208px, -740px, 80px, 80px, 1071px, 1013px, '../imgs/sprite.png?20170929035949', 'm_ico_faq_a', );
$m-ico-faq-q-name: 'm_ico_faq_q';
$m-ico-faq-q-x: 308px;
$m-ico-faq-q-y: 740px;
$m-ico-faq-q-offset-x: -308px;
$m-ico-faq-q-offset-y: -740px;
$m-ico-faq-q-width: 80px;
$m-ico-faq-q-height: 80px;
$m-ico-faq-q-total-width: 1071px;
$m-ico-faq-q-total-height: 1013px;
$m-ico-faq-q-image: '../imgs/sprite.png?20170929035949';
$m-ico-faq-q: (308px, 740px, -308px, -740px, 80px, 80px, 1071px, 1013px, '../imgs/sprite.png?20170929035949', 'm_ico_faq_q', );
$m-ico-filter-name: 'm_ico_filter';
$m-ico-filter-x: 948px;
$m-ico-filter-y: 763px;
$m-ico-filter-offset-x: -948px;
$m-ico-filter-offset-y: -763px;
$m-ico-filter-width: 54px;
$m-ico-filter-height: 44px;
$m-ico-filter-total-width: 1071px;
$m-ico-filter-total-height: 1013px;
$m-ico-filter-image: '../imgs/sprite.png?20170929035949';
$m-ico-filter: (948px, 763px, -948px, -763px, 54px, 44px, 1071px, 1013px, '../imgs/sprite.png?20170929035949', 'm_ico_filter', );
$m-ico-help-name: 'm_ico_help';
$m-ico-help-x: 108px;
$m-ico-help-y: 632px;
$m-ico-help-offset-x: -108px;
$m-ico-help-offset-y: -632px;
$m-ico-help-width: 88px;
$m-ico-help-height: 88px;
$m-ico-help-total-width: 1071px;
$m-ico-help-total-height: 1013px;
$m-ico-help-image: '../imgs/sprite.png?20170929035949';
$m-ico-help: (108px, 632px, -108px, -632px, 88px, 88px, 1071px, 1013px, '../imgs/sprite.png?20170929035949', 'm_ico_help', );
$m-ico-help-w-name: 'm_ico_help_w';
$m-ico-help-w-x: 0px;
$m-ico-help-w-y: 632px;
$m-ico-help-w-offset-x: 0px;
$m-ico-help-w-offset-y: -632px;
$m-ico-help-w-width: 88px;
$m-ico-help-w-height: 88px;
$m-ico-help-w-total-width: 1071px;
$m-ico-help-w-total-height: 1013px;
$m-ico-help-w-image: '../imgs/sprite.png?20170929035949';
$m-ico-help-w: (0px, 632px, 0px, -632px, 88px, 88px, 1071px, 1013px, '../imgs/sprite.png?20170929035949', 'm_ico_help_w', );
$m-ico-home-name: 'm_ico_home';
$m-ico-home-x: 948px;
$m-ico-home-y: 0px;
$m-ico-home-offset-x: -948px;
$m-ico-home-offset-y: 0px;
$m-ico-home-width: 74px;
$m-ico-home-height: 57px;
$m-ico-home-total-width: 1071px;
$m-ico-home-total-height: 1013px;
$m-ico-home-image: '../imgs/sprite.png?20170929035949';
$m-ico-home: (948px, 0px, -948px, 0px, 74px, 57px, 1071px, 1013px, '../imgs/sprite.png?20170929035949', 'm_ico_home', );
$m-ico-join-name: 'm_ico_join';
$m-ico-join-x: 948px;
$m-ico-join-y: 537px;
$m-ico-join-offset-x: -948px;
$m-ico-join-offset-y: -537px;
$m-ico-join-width: 56px;
$m-ico-join-height: 56px;
$m-ico-join-total-width: 1071px;
$m-ico-join-total-height: 1013px;
$m-ico-join-image: '../imgs/sprite.png?20170929035949';
$m-ico-join: (948px, 537px, -948px, -537px, 56px, 56px, 1071px, 1013px, '../imgs/sprite.png?20170929035949', 'm_ico_join', );
$m-ico-kakao-name: 'm_ico_kakao';
$m-ico-kakao-x: 152px;
$m-ico-kakao-y: 476px;
$m-ico-kakao-offset-x: -152px;
$m-ico-kakao-offset-y: -476px;
$m-ico-kakao-width: 107px;
$m-ico-kakao-height: 100px;
$m-ico-kakao-total-width: 1071px;
$m-ico-kakao-total-height: 1013px;
$m-ico-kakao-image: '../imgs/sprite.png?20170929035949';
$m-ico-kakao: (152px, 476px, -152px, -476px, 107px, 100px, 1071px, 1013px, '../imgs/sprite.png?20170929035949', 'm_ico_kakao', );
$m-ico-login-name: 'm_ico_login';
$m-ico-login-x: 948px;
$m-ico-login-y: 687px;
$m-ico-login-offset-x: -948px;
$m-ico-login-offset-y: -687px;
$m-ico-login-width: 52px;
$m-ico-login-height: 56px;
$m-ico-login-total-width: 1071px;
$m-ico-login-total-height: 1013px;
$m-ico-login-image: '../imgs/sprite.png?20170929035949';
$m-ico-login: (948px, 687px, -948px, -687px, 52px, 56px, 1071px, 1013px, '../imgs/sprite.png?20170929035949', 'm_ico_login', );
$m-ico-map-name: 'm_ico_map';
$m-ico-map-x: 860px;
$m-ico-map-y: 404px;
$m-ico-map-offset-x: -860px;
$m-ico-map-offset-y: -404px;
$m-ico-map-width: 52px;
$m-ico-map-height: 44px;
$m-ico-map-total-width: 1071px;
$m-ico-map-total-height: 1013px;
$m-ico-map-image: '../imgs/sprite.png?20170929035949';
$m-ico-map: (860px, 404px, -860px, -404px, 52px, 44px, 1071px, 1013px, '../imgs/sprite.png?20170929035949', 'm_ico_map', );
$m-ico-map-b-name: 'm_ico_map_b';
$m-ico-map-b-x: 860px;
$m-ico-map-b-y: 468px;
$m-ico-map-b-offset-x: -860px;
$m-ico-map-b-offset-y: -468px;
$m-ico-map-b-width: 52px;
$m-ico-map-b-height: 44px;
$m-ico-map-b-total-width: 1071px;
$m-ico-map-b-total-height: 1013px;
$m-ico-map-b-image: '../imgs/sprite.png?20170929035949';
$m-ico-map-b: (860px, 468px, -860px, -468px, 52px, 44px, 1071px, 1013px, '../imgs/sprite.png?20170929035949', 'm_ico_map_b', );
$m-ico-map-color-name: 'm_ico_map_color';
$m-ico-map-color-x: 860px;
$m-ico-map-color-y: 340px;
$m-ico-map-color-offset-x: -860px;
$m-ico-map-color-offset-y: -340px;
$m-ico-map-color-width: 52px;
$m-ico-map-color-height: 44px;
$m-ico-map-color-total-width: 1071px;
$m-ico-map-color-total-height: 1013px;
$m-ico-map-color-image: '../imgs/sprite.png?20170929035949';
$m-ico-map-color: (860px, 340px, -860px, -340px, 52px, 44px, 1071px, 1013px, '../imgs/sprite.png?20170929035949', 'm_ico_map_color', );
$m-ico-map-point-name: 'm_ico_map_point';
$m-ico-map-point-x: 0px;
$m-ico-map-point-y: 416px;
$m-ico-map-point-offset-x: 0px;
$m-ico-map-point-offset-y: -416px;
$m-ico-map-point-width: 132px;
$m-ico-map-point-height: 196px;
$m-ico-map-point-total-width: 1071px;
$m-ico-map-point-total-height: 1013px;
$m-ico-map-point-image: '../imgs/sprite.png?20170929035949';
$m-ico-map-point: (0px, 416px, 0px, -416px, 132px, 196px, 1071px, 1013px, '../imgs/sprite.png?20170929035949', 'm_ico_map_point', );
$m-ico-menu-name: 'm_ico_menu';
$m-ico-menu-x: 0px;
$m-ico-menu-y: 840px;
$m-ico-menu-offset-x: 0px;
$m-ico-menu-offset-y: -840px;
$m-ico-menu-width: 80px;
$m-ico-menu-height: 56px;
$m-ico-menu-total-width: 1071px;
$m-ico-menu-total-height: 1013px;
$m-ico-menu-image: '../imgs/sprite.png?20170929035949';
$m-ico-menu: (0px, 840px, 0px, -840px, 80px, 56px, 1071px, 1013px, '../imgs/sprite.png?20170929035949', 'm_ico_menu', );
$m-ico-myinfo-name: 'm_ico_myinfo';
$m-ico-myinfo-x: 948px;
$m-ico-myinfo-y: 229px;
$m-ico-myinfo-offset-x: -948px;
$m-ico-myinfo-offset-y: -229px;
$m-ico-myinfo-width: 68px;
$m-ico-myinfo-height: 56px;
$m-ico-myinfo-total-width: 1071px;
$m-ico-myinfo-total-height: 1013px;
$m-ico-myinfo-image: '../imgs/sprite.png?20170929035949';
$m-ico-myinfo: (948px, 229px, -948px, -229px, 68px, 56px, 1071px, 1013px, '../imgs/sprite.png?20170929035949', 'm_ico_myinfo', );
$m-ico-naver-name: 'm_ico_naver';
$m-ico-naver-x: 0px;
$m-ico-naver-y: 740px;
$m-ico-naver-offset-x: 0px;
$m-ico-naver-offset-y: -740px;
$m-ico-naver-width: 88px;
$m-ico-naver-height: 80px;
$m-ico-naver-total-width: 1071px;
$m-ico-naver-total-height: 1013px;
$m-ico-naver-image: '../imgs/sprite.png?20170929035949';
$m-ico-naver: (0px, 740px, 0px, -740px, 88px, 80px, 1071px, 1013px, '../imgs/sprite.png?20170929035949', 'm_ico_naver', );
$m-ico-orderlist-name: 'm_ico_orderlist';
$m-ico-orderlist-x: 948px;
$m-ico-orderlist-y: 153px;
$m-ico-orderlist-offset-x: -948px;
$m-ico-orderlist-offset-y: -153px;
$m-ico-orderlist-width: 72px;
$m-ico-orderlist-height: 56px;
$m-ico-orderlist-total-width: 1071px;
$m-ico-orderlist-total-height: 1013px;
$m-ico-orderlist-image: '../imgs/sprite.png?20170929035949';
$m-ico-orderlist: (948px, 153px, -948px, -153px, 72px, 56px, 1071px, 1013px, '../imgs/sprite.png?20170929035949', 'm_ico_orderlist', );
$m-ico-popup-header-name: 'm_ico_popup_header';
$m-ico-popup-header-x: 770px;
$m-ico-popup-header-y: 632px;
$m-ico-popup-header-offset-x: -770px;
$m-ico-popup-header-offset-y: -632px;
$m-ico-popup-header-width: 69px;
$m-ico-popup-header-height: 64px;
$m-ico-popup-header-total-width: 1071px;
$m-ico-popup-header-total-height: 1013px;
$m-ico-popup-header-image: '../imgs/sprite.png?20170929035949';
$m-ico-popup-header: (770px, 632px, -770px, -632px, 69px, 64px, 1071px, 1013px, '../imgs/sprite.png?20170929035949', 'm_ico_popup_header', );
$m-ico-reset-name: 'm_ico_reset';
$m-ico-reset-x: 948px;
$m-ico-reset-y: 305px;
$m-ico-reset-offset-x: -948px;
$m-ico-reset-offset-y: -305px;
$m-ico-reset-width: 64px;
$m-ico-reset-height: 56px;
$m-ico-reset-total-width: 1071px;
$m-ico-reset-total-height: 1013px;
$m-ico-reset-image: '../imgs/sprite.png?20170929035949';
$m-ico-reset: (948px, 305px, -948px, -305px, 64px, 56px, 1071px, 1013px, '../imgs/sprite.png?20170929035949', 'm_ico_reset', );
$m-ico-reset-b-name: 'm_ico_reset_b';
$m-ico-reset-b-x: 948px;
$m-ico-reset-b-y: 827px;
$m-ico-reset-b-offset-x: -948px;
$m-ico-reset-b-offset-y: -827px;
$m-ico-reset-b-width: 52px;
$m-ico-reset-b-height: 45px;
$m-ico-reset-b-total-width: 1071px;
$m-ico-reset-b-total-height: 1013px;
$m-ico-reset-b-image: '../imgs/sprite.png?20170929035949';
$m-ico-reset-b: (948px, 827px, -948px, -827px, 52px, 45px, 1071px, 1013px, '../imgs/sprite.png?20170929035949', 'm_ico_reset_b', );
$m-ico-search-name: 'm_ico_search';
$m-ico-search-x: 948px;
$m-ico-search-y: 613px;
$m-ico-search-offset-x: -948px;
$m-ico-search-offset-y: -613px;
$m-ico-search-width: 54px;
$m-ico-search-height: 54px;
$m-ico-search-total-width: 1071px;
$m-ico-search-total-height: 1013px;
$m-ico-search-image: '../imgs/sprite.png?20170929035949';
$m-ico-search: (948px, 613px, -948px, -613px, 54px, 54px, 1071px, 1013px, '../imgs/sprite.png?20170929035949', 'm_ico_search', );
$m-ico-search-position-name: 'm_ico_search_position';
$m-ico-search-position-x: 424px;
$m-ico-search-position-y: 0px;
$m-ico-search-position-offset-x: -424px;
$m-ico-search-position-offset-y: 0px;
$m-ico-search-position-width: 416px;
$m-ico-search-position-height: 372px;
$m-ico-search-position-total-width: 1071px;
$m-ico-search-position-total-height: 1013px;
$m-ico-search-position-image: '../imgs/sprite.png?20170929035949';
$m-ico-search-position: (424px, 0px, -424px, 0px, 416px, 372px, 1071px, 1013px, '../imgs/sprite.png?20170929035949', 'm_ico_search_position', );
$m-ico-time-name: 'm_ico_time';
$m-ico-time-x: 108px;
$m-ico-time-y: 740px;
$m-ico-time-offset-x: -108px;
$m-ico-time-offset-y: -740px;
$m-ico-time-width: 80px;
$m-ico-time-height: 80px;
$m-ico-time-total-width: 1071px;
$m-ico-time-total-height: 1013px;
$m-ico-time-image: '../imgs/sprite.png?20170929035949';
$m-ico-time: (108px, 740px, -108px, -740px, 80px, 80px, 1071px, 1013px, '../imgs/sprite.png?20170929035949', 'm_ico_time', );
$m-kakao-name: 'm_kakao';
$m-kakao-x: 436px;
$m-kakao-y: 632px;
$m-kakao-offset-x: -436px;
$m-kakao-offset-y: -632px;
$m-kakao-width: 90px;
$m-kakao-height: 79px;
$m-kakao-total-width: 1071px;
$m-kakao-total-height: 1013px;
$m-kakao-image: '../imgs/sprite.png?20170929035949';
$m-kakao: (436px, 632px, -436px, -632px, 90px, 79px, 1071px, 1013px, '../imgs/sprite.png?20170929035949', 'm_kakao', );
$m-logo-name: 'm_logo';
$m-logo-x: 216px;
$m-logo-y: 632px;
$m-logo-offset-x: -216px;
$m-logo-offset-y: -632px;
$m-logo-width: 90px;
$m-logo-height: 83px;
$m-logo-total-width: 1071px;
$m-logo-total-height: 1013px;
$m-logo-image: '../imgs/sprite.png?20170929035949';
$m-logo: (216px, 632px, -216px, -632px, 90px, 83px, 1071px, 1013px, '../imgs/sprite.png?20170929035949', 'm_logo', );
$m-logo-ci-name: 'm_logo_ci';
$m-logo-ci-x: 507px;
$m-logo-ci-y: 740px;
$m-logo-ci-offset-x: -507px;
$m-logo-ci-offset-y: -740px;
$m-logo-ci-width: 79px;
$m-logo-ci-height: 73px;
$m-logo-ci-total-width: 1071px;
$m-logo-ci-total-height: 1013px;
$m-logo-ci-image: '../imgs/sprite.png?20170929035949';
$m-logo-ci: (507px, 740px, -507px, -740px, 79px, 73px, 1071px, 1013px, '../imgs/sprite.png?20170929035949', 'm_logo_ci', );
$m-logo-text1-name: 'm_logo_text1';
$m-logo-text1-x: 424px;
$m-logo-text1-y: 416px;
$m-logo-text1-offset-x: -424px;
$m-logo-text1-offset-y: -416px;
$m-logo-text1-width: 252px;
$m-logo-text1-height: 40px;
$m-logo-text1-total-width: 1071px;
$m-logo-text1-total-height: 1013px;
$m-logo-text1-image: '../imgs/sprite.png?20170929035949';
$m-logo-text1: (424px, 416px, -424px, -416px, 252px, 40px, 1071px, 1013px, '../imgs/sprite.png?20170929035949', 'm_logo_text1', );
$m-logo-text2-name: 'm_logo_text2';
$m-logo-text2-x: 152px;
$m-logo-text2-y: 416px;
$m-logo-text2-offset-x: -152px;
$m-logo-text2-offset-y: -416px;
$m-logo-text2-width: 252px;
$m-logo-text2-height: 40px;
$m-logo-text2-total-width: 1071px;
$m-logo-text2-total-height: 1013px;
$m-logo-text2-image: '../imgs/sprite.png?20170929035949';
$m-logo-text2: (152px, 416px, -152px, -416px, 252px, 40px, 1071px, 1013px, '../imgs/sprite.png?20170929035949', 'm_logo_text2', );
$social-facebook-name: 'social_facebook';
$social-facebook-x: 860px;
$social-facebook-y: 662px;
$social-facebook-offset-x: -860px;
$social-facebook-offset-y: -662px;
$social-facebook-width: 45px;
$social-facebook-height: 45px;
$social-facebook-total-width: 1071px;
$social-facebook-total-height: 1013px;
$social-facebook-image: '../imgs/sprite.png?20170929035949';
$social-facebook: (860px, 662px, -860px, -662px, 45px, 45px, 1071px, 1013px, '../imgs/sprite.png?20170929035949', 'social_facebook', );
$social-facebook-on-name: 'social_facebook_on';
$social-facebook-on-x: 860px;
$social-facebook-on-y: 597px;
$social-facebook-on-offset-x: -860px;
$social-facebook-on-offset-y: -597px;
$social-facebook-on-width: 45px;
$social-facebook-on-height: 45px;
$social-facebook-on-total-width: 1071px;
$social-facebook-on-total-height: 1013px;
$social-facebook-on-image: '../imgs/sprite.png?20170929035949';
$social-facebook-on: (860px, 597px, -860px, -597px, 45px, 45px, 1071px, 1013px, '../imgs/sprite.png?20170929035949', 'social_facebook_on', );
$social-kakao-name: 'social_kakao';
$social-kakao-x: 860px;
$social-kakao-y: 727px;
$social-kakao-offset-x: -860px;
$social-kakao-offset-y: -727px;
$social-kakao-width: 45px;
$social-kakao-height: 45px;
$social-kakao-total-width: 1071px;
$social-kakao-total-height: 1013px;
$social-kakao-image: '../imgs/sprite.png?20170929035949';
$social-kakao: (860px, 727px, -860px, -727px, 45px, 45px, 1071px, 1013px, '../imgs/sprite.png?20170929035949', 'social_kakao', );
$social-kakao-on-name: 'social_kakao_on';
$social-kakao-on-x: 0px;
$social-kakao-on-y: 916px;
$social-kakao-on-offset-x: 0px;
$social-kakao-on-offset-y: -916px;
$social-kakao-on-width: 45px;
$social-kakao-on-height: 45px;
$social-kakao-on-total-width: 1071px;
$social-kakao-on-total-height: 1013px;
$social-kakao-on-image: '../imgs/sprite.png?20170929035949';
$social-kakao-on: (0px, 916px, 0px, -916px, 45px, 45px, 1071px, 1013px, '../imgs/sprite.png?20170929035949', 'social_kakao_on', );
$social-naver-name: 'social_naver';
$social-naver-x: 65px;
$social-naver-y: 916px;
$social-naver-offset-x: -65px;
$social-naver-offset-y: -916px;
$social-naver-width: 45px;
$social-naver-height: 45px;
$social-naver-total-width: 1071px;
$social-naver-total-height: 1013px;
$social-naver-image: '../imgs/sprite.png?20170929035949';
$social-naver: (65px, 916px, -65px, -916px, 45px, 45px, 1071px, 1013px, '../imgs/sprite.png?20170929035949', 'social_naver', );
$social-naver-on-name: 'social_naver_on';
$social-naver-on-x: 860px;
$social-naver-on-y: 532px;
$social-naver-on-offset-x: -860px;
$social-naver-on-offset-y: -532px;
$social-naver-on-width: 45px;
$social-naver-on-height: 45px;
$social-naver-on-total-width: 1071px;
$social-naver-on-total-height: 1013px;
$social-naver-on-image: '../imgs/sprite.png?20170929035949';
$social-naver-on: (860px, 532px, -860px, -532px, 45px, 45px, 1071px, 1013px, '../imgs/sprite.png?20170929035949', 'social_naver_on', );
$spritesheet-width: 1071px;
$spritesheet-height: 1013px;
$spritesheet-image: '../imgs/sprite.png?20170929035949';
$spritesheet-sprites: ($arrow-bottom, $arrow-bottom-on, $arrow-bottom-rentshop-info, $arrow-bottom-w, $arrow-bottom-w-big, $arrow-left, $arrow-left-on, $arrow-left-paging, $arrow-left-paging-on, $arrow-right, $arrow-right-on, $arrow-right-paging, $arrow-right-paging-on, $arrow-top, $arrow-top-on, $cross, $cross-b, $ico-date, $ico-date-big, $ico-error, $ico-faq-a, $ico-faq-q, $ico-filter, $ico-go-list, $ico-go-list-on, $ico-help, $ico-help-w, $ico-list-search, $ico-list-search-remove, $ico-map-point, $ico-popup-close, $ico-popup-header, $ico-reset, $ico-reset-g, $ico-search, $ico-search-position, $ico-time, $ico-time-big, $logo-ci, $logo-ci-admin, $logo-ci-admin2, $logo-footer, $logo-text1, $logo-text1-admin, $logo-text1-admin2, $logo-text2, $logo-text2-admin, $logo-text2-admin2, $m-arrow-bottom, $m-arrow-bottom-on, $m-arrow-bottom-w, $m-arrow-left, $m-arrow-left-big, $m-arrow-left-big-on, $m-arrow-left-on, $m-arrow-right, $m-arrow-right-on, $m-arrow-right-w, $m-arrow-top, $m-arrow-top-big, $m-arrow-top-big-on, $m-call, $m-cross-b, $m-cross-w, $m-ico-back, $m-ico-checkbox, $m-ico-checkbox-on, $m-ico-date, $m-ico-error, $m-ico-facebook, $m-ico-faq, $m-ico-faq-a, $m-ico-faq-q, $m-ico-filter, $m-ico-help, $m-ico-help-w, $m-ico-home, $m-ico-join, $m-ico-kakao, $m-ico-login, $m-ico-map, $m-ico-map-b, $m-ico-map-color, $m-ico-map-point, $m-ico-menu, $m-ico-myinfo, $m-ico-naver, $m-ico-orderlist, $m-ico-popup-header, $m-ico-reset, $m-ico-reset-b, $m-ico-search, $m-ico-search-position, $m-ico-time, $m-kakao, $m-logo, $m-logo-ci, $m-logo-text1, $m-logo-text2, $social-facebook, $social-facebook-on, $social-kakao, $social-kakao-on, $social-naver, $social-naver-on, );
$spritesheet: (1071px, 1013px, '../imgs/sprite.png?20170929035949', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
